
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
	--egali-primary-color: #EC3B58;
	--egali-secondary-color: #1A1F2C;
	--egali-tertiary-color: #FFFFFF;
    --egali-gradient-start-color: #EB7185;
    
	--hubsys-primary-color: #81D43A;
	--hubsys-secondary-color: #FFFFFF;
	--hubsys-tertiary-color: #000000;
    --hubsys-gradient-start-color: #A1CF7A;
    
	--primary-color: var(--egali-primary-color);
	--secondary-color: var(--egali-secondary-color);
	--tertiary-color: var(--egali-tertiary-color);
    --gradient-start-color: var(--egali-gradient-start-color);
}

body {
	background: #F1F0F6;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
}

h1 {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: var(--secondary-color);
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

a:hover {
    color: var(--primary-color);
}

button {
	border-radius: 20px;
	border: 1px solid var(--primary-color);
	background-color: var(--primary-color);
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:hover {
    background: rgba(236, 59, 88, .8);
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.logo {
    width: 50px;
    height: 50px;
}

.overlay-airplane {
    position: absolute;
    right: -450px;
    bottom: -90px;
    opacity: .3; 
    width: 900px;
}

.overlay-airplane:hover {
    transition: 1s ease-in-out;
    transform: scale(0.95); 
}

.plane-login {
    color: var(--primary-color);
}

.plane-login:hover {
    color: rgba(236, 59, 88, .8);
}

.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
    display: flex;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.form-container {
	height: 100%;
}

.sign-in-container {
	width: 50%;
	z-index: 2;
}

.overlay-container {
	width: 50%;
	height: 100%;
	overflow: hidden;
	z-index: 100;
}

.overlay {
	background: var(--primary-color);
	background: -webkit-linear-gradient(to right, var(--gradient-start-color), var(--primary-color));
	background: linear-gradient(to right, var(--gradient-start-color), var(--primary-color));
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	height: 100%;
    position: relative;
}

.overlay-panel {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	height: 100%;
    padding: 1rem;
}



@media only screen and (max-width: 415px) {
    .overlay-panel {
        font-size: 0.75rem;
    }
}

@media only screen and (max-width: 500px) {
    .container {
        flex-direction: column;
        width: 90%;
        height: 90vh;
    }

    .sign-in-container, .overlay-container {
        width: 100%;
    }

    .sign-in-container {
        flex: 6;
    }

    .overlay-container {
        flex: 4;
        order: -1;
    }

    form {
        justify-content: start;
        padding: 5rem 50px;
    }

    .overlay-airplane {
        right: -450px;
        bottom: -140px;
        opacity: .3;
        width: 900px;
    }
}